{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="px-4 sm:px-6 lg:px-8 mt-11">
        <div class="sm:flex sm:items-center h-90">
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                <div class="task-form-htmx">
                    <div class="sm:flex-auto">
                        <h1 class="text-xl font-semibold text-gray-900">Users</h1>
                        <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their
                            name, title, email and role.</p>

                    </div>
                    <div class="w-full max-w-7xl mx-auto px-4">
                        <form method="post" enctype="multipart/form-data" class="mt-5">
                            {% csrf_token %}
                            {{ form|crispy }}

                        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}