{% extends 'base.html' %}


{% block content %}
<p>Veuillez choisir ci-dessous entre l'upload d'un fichier de commandes ou l'upload d'un fichier fournisseur :</p>
<h2>Upload fichier <u>transporteur</u></h2>

    <button hx-get="{% url 'tool:upload-form' %}" hx-swap="beforebegin" hxtarget="#transporterforms">Add transporter</button>
    <div class="transporterforms">
    <p>Voici les fichiers uploadés</p>
    {% for file in files %}
        {{ file.pk }}
    {% endfor %}
    </div>




{% endblock content %}

